.chart-bar .data0.chart-bar {
    -fx-bar-fill: #1f77b4;
}
.chart-bar .data1.chart-bar {
    -fx-bar-fill: #ff7f0e;
}
.chart-bar .data2.chart-bar {
    -fx-bar-fill: #2ca02c;
}
.chart-bar .data3.chart-bar {
    -fx-bar-fill: #d62728;
}
.chart-bar .data4.chart-bar {
    -fx-bar-fill: #9467bd;
}